<div class="filter-container centered">

    <div class="wrapper centered-w" id="div-filter">
        <div class="first-line mb-4">
            <img src="../../assets/images/loupe.png" class="icon-search">
            <input id="inputName" type="text" placeholder="Nom du produit" class="form-control input-name" (keyup)="nameKeyUp($event)">

            <button class="btn btn-outline-primary" (click)="filterDisplay($event)">Recherche avancée ▼</button>

        </div>
        
        <div class="col-md-4 col-sm-6 flex centered mb-2">
            <span class="span-price">Prix inférieur à </span>
            <input id="priceMax" type="number" value="0" class="form-control input-price" (change)="priceMaxChange($event)" min="0">   
        </div>
        <div class="col-md-4 col-sm-6 flex centered mb-2">
            <span>Type: </span>
            <select class="form-control span-price" id="selectType" (change)="byType()">
                <option value="">Tous</option>
                <option *ngFor="let t of types | async" value="{{t.name}}">{{t.name}}</option>
            </select>
        </div>

        <div class="col-md-4 col-sm-6 flex centered mb-2">
            <span>Format: </span>
            <select class="form-control span-price" id="selectFormat" (change)="byFormat()">
                <option value="">Tous</option>
                <option *ngFor="let t of formats | async" value="{{t.name}}">{{t.name}}</option>
            </select>
        </div>

        <div class="flex">
            <button class="btn btn-primary span-price" (click)="byType()">Rechercher !</button>
            <button (click)="resetFilters()" class="btn btn-outline-warning m-4">Réinitialiser les filtres</button>
        </div>
    </div>
</div>
    
