<div class="text-white">
    <div class="title row centered">
        Bienvenu sur le TP - 06 !
    </div>
    <div class="desc row">
        <div class="col-2"></div>
        <div class="col-8 desc">
                Vous êtes sur la page <span>d'accueil</span> du site. <br>
                Ce TP vise à utiliser une <span>base de donnée heroku</span> afin de récupérer les informations voulues. <br>
                Vous avez accès à un <span><a [routerLink]="['/produits']">catalogue de plantes</a></span> dans lequel vous pourrez sélectionner vos produits. <br>
                Vous pourrez les retrouver dans votre <span><a [routerLink]="['/panier']">panier</a></span> et vérifier votre commande.
        </div>
        <div class="col-2"></div>
    </div>
</div>