<div class="container-fluid centered mb-4">
    <div class="col-6 centered text-white">
        <h3>Connexion</h3>
        <div class="hidden val-error" id="error">Identifiants incorrects</div>
        <form class="row g-3 mt-4" id="form">
            <div class="row mb-4">
                <div class="col-12">
                    <label for="txtLogin" class="form-label">Identifiant:</label>
                    <input type="text" class="form-control" placeholder="Identifiant" (keyup)="updateInput($event, 'login')">
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-12">
                    <label for="txtPass" class="form-label">Mot de passe:</label>
                    <input type="password" class="form-control" placeholder="Mot de passe" (keyup)="updateInput($event, 'password')">
                </div>
            </div>
            <div class="row">
                <div class="col-12 flex centered">
                    <button class="btn btn-primary w-100" type="button" (click)="login()">Se connecter</button>
                </div>
            </div>
            <!-- <div class="col-5">
                <label for="inputFirstname" class="form-label">Firstname:</label>
                <input type="text" class="form-control" placeholder="3 to 35 characters" (keyup)="updateInput($event, 'firstname')">
                <div *ngIf="!satisfyPattern('firstname') && validatedOnce" class="val-error">
                    Please enter a firstname between 3 to 35 alpha characters.
                </div>
            </div>
            <div class="col-5">
                <label for="inputLastname" class="form-label">Lastname</label>
                <input type="text" class="form-control" placeholder="3 to 35 characters" (keyup)="updateInput($event, 'lastname')">
                <div *ngIf="!satisfyPattern('lastname') && validatedOnce" class="val-error">
                    Please enter a lastname between 3 to 35 alpha characters.
                </div>
            </div>
            <div class="col-2">
                <label for="select-civility" class="form-label">Civility</label>
                <select id="select-civility" class="form-control" (change)="updateInput($event, 'civility')">
                    <option selected value="0">M</option>
                    <option value="1">F</option>
                    <option value="2">Other</option>
                </select>
            </div>

            <div class="col-6">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="abc@def.hij" (keyup)="updateInput($event, 'email')">
                <div *ngIf="!satisfyPattern('email') && validatedOnce" class="val-error">
                    Please enter a valid email.
                </div>
            </div>
            <div class="col-6">
                <label for="inputPhone" class="form-label">Phone</label>
                <input type="tel" class="form-control" placeholder="0123456789" (keyup)="updateInput($event, 'phone')">
                <div *ngIf="!satisfyPattern('phone') && validatedOnce" class="val-error">
                    Please enter a valid phone number.
                </div>
            </div>
            

            <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" (keyup)="updateInput($event, 'address')">
            </div>
            <div class="col-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="inputCity" placeholder="Sydney" (keyup)="updateInput($event, 'city')">
                <div *ngIf="!satisfyPattern('city') && validatedOnce" class="val-error">
                    Please enter a city between 2 to 50 alpha characters.
                </div>
            </div>
            <div class="col-4">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select" (change)="updateInput($event, 'state')">
                    <option selected value="0">France only :p</option>
                </select>
            </div>
            <div class="col-2">
                <label for="inputZip" class="form-label">Zip</label>
                <input type="text" class="form-control" id="inputZip" placeholder="01234" (keyup)="updateInput($event, 'zip')">
                <div *ngIf="!satisfyPattern('zip') && validatedOnce" class="val-error">
                    Please enter a valid zip code (5 digits).
                </div>
            </div>

            <div class="col-12">
                <label for="inputLogin" class="form-label">Login</label>
                <input type="text" class="form-control" id="inputLogin" placeholder="8 to 32 characters" (keyup)="updateInput($event, 'login')">
                <div *ngIf="!satisfyPattern('login') && validatedOnce" class="val-error">
                    Please enter a login between 8 to 32 alphanumeric characters.
                </div>
            </div>
            <div class="col-6">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="8 to 32 characters" (keyup)="updateInput($event, 'password')">
                <div *ngIf="!satisfyPattern('password') && validatedOnce" class="val-error">
                    Please enter a password between 8 to 32 alphanumeric characters.
                </div>
            </div>                    
            <div class="col-6">
                <label for="inputPassword2" class="form-label">Confirm password</label>
                <input type="password" class="form-control" id="inputPassword2" placeholder="8 to 32 characters" (keyup)="updateInput($event, 'confirmPassword')">
                <div *ngIf="!isSamePassword() && validatedOnce" class="val-error">
                    Passwords are not the same.
                </div>
            </div>
            <div class="col-12 centered">
                <button type="button" class="btn btn-primary" (click)="submitClick()">Submit</button>
            </div> -->
        </form>

    </div>
</div>