.products-container {
    display: flex;
    margin: 1em;
    flex-wrap: wrap;
}
.card-container {
    min-width: 12em;
    width: fit-content;
    height: 5em;
    display: flex;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    margin: 1em;
    box-shadow: 5px 5px 5px rgba(0,0,0,.5);
    cursor: pointer;
    overflow: hidden;
}
.card-image {
    padding: 0;
    margin: 0;
    width: 35%;
    height: 100%;
}
.card-name {
    width: 40%;
    align-self: center;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.card-price {
    width: 25%;
    align-self: center;
    height: 100%;
    border-left: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
}