.products-container {
    display: flex;
    height: 75%;
    margin: 1em;
    flex-wrap: wrap;
    overflow-y: auto;
}
.card-container {
    width: 40%;
    height: 15em;
    display: flex;
    flex-direction: column;
    border: 1px solid #808080;
    border-radius: 10px;
    margin: 1em;
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.24);
    cursor: pointer;
    overflow: hidden;
    background: #262624;
    color: white;
}
.card-image {
    padding: 0;
    margin: 0;
    width: 35%;
    height: 100%;
}
.card-name {
    width: 40%;
    align-self: center;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.card-price {
    width: 25%;
    align-self: center;
    height: 100%;
    border-left: 1px solid #808080;
    align-items: center;
    justify-content: center;
    display: flex;
}
.div-info {
    display: flex;
    height: 12.5em;
    text-decoration: none;
    color: white;
    transition: all .3s;
}
.div-info:hover {
    background: rgb(66, 66, 66);
    transition: all .3s;
}
.btn-add {
    width: 100%;
}